@using Microsoft.AspNetCore.Http
@using Signaler.Library.Core
@{ 
    string msg = Context.Session.GetString(Signaler.Library.Core.Keys._MSG);
    string msgType = "alert-danger";

    if (msg != null && msg != "")
    {
        switch (msg.Substring(0, 4))
        {
            case "Info":
                msgType = "alert-info";
                break;
            case "Warn":
            case "Eror":
                msgType = "alert-danger";
                break;
        }

        //Reset message after presentation
        Context.Session.SetString(Signaler.Library.Core.Keys._MSG, "");
    <div class="alert @(msgType) alert-dismissible fade show" role="alert">
        <strong>Text Miner</strong> @((msg.Substring(0, 4))).
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> } }

