
    <b> PatternDiscovery</b> <br />
    <p>
        Text analysis prototype and all related study. This is just a temporary study and do not preferred for commercial use.
    </p>

    <B>Description</B>
    <br />
    <p>
        Pattern Discovery is a free software library based on .NET CORE 3.0 paltform, in the context of text analysis, clustering and a bit of machine learning. The aim of this library is to provide all the necessary functionalities required to connect to a platform-independent datawarehouse and do text analytical functions e.g tokneinzation, wordbag counting and some chart presentations.

        The scenario starts with connection to a mailing list (in this case) and fetch the mail contents into a local repository (either in streaming mode). The library has a set of predefined reserved keys (the reserved key can be updated and configured as well) that must be minned in loaded mail contents.
    </p>
    <B>Packages</B>
    <br />
    <p>
        The prototype using the following open source packages:
        ML.NET - Microsoft Maching Learning for .NET developers <a target="_blank" href="https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet">https://dotnet.microsoft.com/apps/machinelearning-ai/ml-dotnet</a>
        <br />
        AdminLTE - UI dashboarding tool <a target="_blank" href="https://github.com/ColorlibHQ/AdminLTE">https://github.com/ColorlibHQ/AdminLTE</a>
        <br />
        Custom Identity Management - <a target="_blank" href="https://github.com/iammukeshm/PermissionManagement.MVC">https://github.com/iammukeshm/PermissionManagement.MVC</a>
        <br />
        Text Stemmer - <a target="_blank" href="https://github.com/annytab/a-stemmer/blob/master/Annytab.Stemmer/EnglishStemmer.cs">https://github.com/annytab/a-stemmer/blob/master/Annytab.Stemmer/EnglishStemmer.cs</a>
        <br />
        <br />
        <B>Depyloment</B>
        <br />
        Will be update ASAP <br />

        <B>License</B>
        <br />
        MIT License
    </p>
    <p>
        <i class="fa fa-contact"></i>
        <b>contact:</b><br />
        Project source : <a target="_blank" href="https://github.com/javadbayzavi/PatternDiscovery">https://github.com/javadbayzavi/PatternDiscovery</a> <br />
        Email: javadbayzavi@gmail.com
    </p>
